/* General styles for the account tab */
.account-tab {
  padding: 10px;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 80px; /* Default size */
  height: 30px; /* Default size */
  background-color: #333;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s, height 0.3s, opacity 0.3s;
  z-index: 10000000; /* Ensure it appears above other elements */
  overflow: visible;
}

.account-tab:hover {
  width: 180px; /* Expanded size on hover */
  height: auto; /* Allow content to expand dynamically */
  padding: 15px; /* More padding on hover */
}

/* Styles for additional dropdown content */
.account-tab-content {
  position: absolute;
  top: 190px; /* Position below the tab */
  right: 0;
  background-color: #444;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  min-width: 200px;
  z-index: 1000; /* Ensure it's above other elements */

}


/* Styles for additional dropdown content */
.account-tab-content-2 {
  position: absolute;
  top: 0px;
  right: 170px;
  background-color: #444;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  min-width: 150px;
  z-index: 1000; /* Ensure it's above other elements */
  max-height: 300px; /* Limit the height */
  overflow-y: auto; /* Allow scrolling */
}

.account-tab-content select {
  width: 100%;
  padding: 8px;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #555;
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}

.account-tab-content button {
  width: 100%;
  padding: 8px;
  background-color: #ff4444;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  text-align: center;
}

.account-tab-content button:hover {
  background-color: #ff2222;
}

.rootNodeForm{
  max-height: 400px;
  overflow-y: scroll;
}