.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #070C19;
  position: relative;
  overflow: hidden;
  color: white;
  width: 100vw;
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  max-width: 200px;
  height: auto;
}


.login-container h2 {
  margin-bottom: 20px;
  color: #fff;
}

.login-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #0056b3;
}