/* Container for the whole layout */
.node-data-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto 1fr; /* First row for header content */
    box-sizing: border-box;
    gap: 5px;
  }
  
  h3 {
    margin: 5;
  }
  
  /* Top-left section */
  .topLeft {
    grid-column: 1 / 2; /* First column */
    grid-row: 2 / 3; /* Second row */
    border-radius: 8px;

    overflow-y: auto;
  }
  
  /* Top-right section */
  .topRight {
    grid-column: 2 / 3; /* Second column */
    grid-row: 2 / 3; /* Second row */
  
    max-height: 250px;
    overflow-y: auto;
  }
  
  /* Bottom section that spans two columns */
  .bottomHalf {
    grid-column: 1 / 3; /* Span both columns */
    grid-row: 3 / 4; /* Third row */

    
    overflow-y: auto;
    max-height: 50vh;
    
  }
  
  /* Additional spacing for the table inside topRight */
  .topRight table {
    width: 100%;
    border-collapse: collapse;

  }
  
  /* Additional spacing for the bottomHalf table */
  .bottomHalf table {
    width: 100%;
    border-collapse: collapse;

  }
  